"""░░░░░░░░▄▄▄███░░░░░░░░░░░░░░░░░░░░
░░░▄▄██████████░░░░░░░░░░░░░░░░░░░
░███████████████░░░░░░░░░░░░░░░░░░
░▀███████████████░░░░░▄▄▄░░░░░░░░░
░░░███████████████▄███▀▀▀░░░░░░░░░
░░░░███████████████▄▄░░░░░░░░░░░░░
░░░░▄████████▀▀▄▄▄▄▄░▀░░░░░░░░░░░░
▄███████▀█▄▀█▄░░█░▀▀▀░█░░▄▄░░░░░░░
▀▀░░░██▄█▄░░▀█░░▄███████▄█▀░░░▄░░░
░░░░░█░█▀▄▄▀▄▀░█▀▀▀█▀▄▄▀░░░░░░▄░▄█
░░░░░█░█░░▀▀▄▄█▀░█▀▀░░█░░░░░░░▀██░
░░░░░▀█▄░░░░░░░░░░░░░▄▀░░░░░░▄██░░
░░░░░░▀█▄▄░░░░░░░░▄▄█░░░░░░▄▀░░█░░
░░░░░░░░░▀███▀▀████▄██▄▄░░▄▀░░░░░░
░░░░░░░░░░░█▄▀██▀██▀▄█▄░▀▀░░░░░░░░
░░░░░░░░░░░██░▀█▄█░█▀░▀▄░░░░░░░░░░
░░░░░░░░░░█░█▄░░▀█▄▄▄░░█░░░░░░░░░░
░░░░░░░░░░█▀██▀▀▀▀░█▄░░░░░░░░░░░░░
░░░░░░░░░░░░▀░░░░░░░░░░░▀░░░░░░░░░

       QUIZ EXPERIMENTAL"""
/n
nome = input("digite seu nome")
idade = input("qual sua idade")

q1 = input("PRIMEIRA QUESTÃO: Quanto é 6 x 59?")

if q1 == 354:
  print("Parabens, você acertou!")
else:
  print("Resposta errada")

